body {
    background-color: #fff
}

#auth {
    height: 100vh;
    overflow-x: hidden
}

.auth-right {
    position: absolute;
    right: 0;
    top:0;
    background:#2d499d;
    height: 100%;
    width: 52rem;
}

#auth #auth-left {
    padding: 5rem 8rem
}

#auth #auth-left .auth-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-top: -2rem
}

#auth #auth-left .auth-subtitle {
    color: #a8aebb;
    font-size: 1.25rem;
    font-weight: 1000;
    line-height: 2.5rem
}


#auth #auth-left .auth-logo {
    margin-bottom: 3rem;
    margin-top: -3rem
}

#auth #auth-left .auth-logo img {
    height: 3.5rem
}

@media screen and (max-width:767px) {
    #auth #auth-left {
        padding: 5rem
    }
    .auth-right {
        display: none;
    }
}
